html,body{
    background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%);
	
    width: 550px;
    height: 300px;
    padding: 0;
    margin: 0;
    min-height: 180px;
    font-family: 'Papyrus', cursive;
	color: white;
    
}

.main_title{
    text-align: center;
	color: #FFFFFF;
	border-color: transparent;
}
.abtus{
	align-items: right;	
	border-color: transparent;
}	

.ta-c{
    text-align: center;
	border-color: transparent;
}


.data_elements{
    text-align: center;
    padding: 35px;
    width: 100%;
	color: #FFFFFF;
	border-color: transparent;
}
.blinking{
    animation:blinkingText 0.4s 10;
}
@keyframes blinkingText{
    10%{     color: #FFFFFF;    }
    49%{    color: #FFFFFF; }
    60%{    color: transparent; }
    88%{    color:transparent;  }
    100%{   color: #FFFFFF;    }
}






   
   

